/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.bam{
  width:100%;
  background-color:#fff;
  border-radius: 4px;
  padding:20px;
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.16);
  box-shadow: 0 0 8px rgba(0,0,0,.16);
  h1{
    margin:0px 0px 30px 0px;
    padding:0;
    font-size:32px;
    color:#333;
    text-align: center
  }
  p{
    color:#666;
  }
  form{
    padding: 20px 50px;
    label{
      margin-right: 10px;
    }
    .form-group{
      margin-bottom: 20px;
      margin-right: 20px;

    }
  }
}

